* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  height: 100vh;
  background-color: rgb(246, 242, 237);
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.Wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 239, 235);
}
.input {
  width: 150px;
  height: 40px;
}

.btn {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  background-color: aqua;
}
